<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fullpagejs - Practice</title>
  </head>
  <body>
    <div id="fullpage">
      <div class="section">Some section</div>
	    <div class="section">Some section</div>
	     <div class="section">Some section</div>
	      <div class="section">Some section</div>
    </div>
    <h1>Fixture#index</h1>
    <p>Find me in app/views/fixture/index.html.erb</p>
  </body>
</html>
